@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-moz-selection {
    @apply bg-purple-400/75 text-neutral-50;
  }
  ::selection {
    @apply bg-purple-400/75 text-neutral-50;
  }
}

@layer components {
  .animated-text {
    @apply text-5xl font-semibold uppercase text-teal-400 z-50;
  }
}

@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(300px, -100px);
  }
  50% {
    transform: translate(600px, 100px);
  }
  75% {
    transform: translate(200px, 300px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.floating-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: float 50s ease-in-out infinite;
  z-index: -10;
}
